html,
body {
  margin: 0;
  height: 100%;
}

body,
footer,
.hero-body {
  background-color: rgb(10, 25, 47) !important;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  color: rgb(136, 146, 176);
}

.title {
  color: rgba(139, 180, 216, 0.94);
}

.sidebar {
  background-color: rgb(23, 42, 69);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  color: rgb(136, 146, 176);
  opacity: 1;
}

.sidebar-link {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgba(139, 180, 216, 0.94);
}

.sidebar-link:hover {
  color: rgb(230, 241, 255);
}
.header-name {
  font-weight: 600;
  color: rgb(230, 241, 255);
}

.column-header {
  border-bottom: 2px rgb(45, 57, 82) solid;
  margin-bottom: 1rem;
}

.column-header > h1 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: white;
}

.icon,
.sidebar-link {
  transition-duration: 250ms;
}

.icon:hover {
  color: white;
}

.terminal-bar {
  background-color: #eae8e9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  position: relative;
}

.dark-mode {
  background-image: linear-gradient(180deg, #464248 0%, #3b383d 100%);
  border-bottom: 1px solid rgba(66, 66, 66, 0.5);
}

.dark-mode-text {
  color: #bdb9bf !important;
}

.icon-btn {
  border-radius: 50%;
  margin-top: 7px;
  height: 15px;
  width: 15px;
  margin-bottom: 0.5rem;
}

.terminal-bar > div.icon-btn:first-child {
  margin-left: 0.6rem;
}

.terminal-bar > div.icon-btn:not(:first-child) {
  margin-left: 0.5rem;
}

.terminal-bar > div.icon-btn:last-child {
  margin-right: 0.6rem;
}

.close {
  background-color: #fa615c;
}

.max {
  background-color: #3fc950;
}

.min {
  background-color: #ffbd48;
}

.terminal-window {
  background-color: black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 254px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.primary-bg {
  background-color: rgb(23, 42, 69);
}

.shadow {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.terminal-bar-text {
  position: absolute;
  margin-top: 3px;
  color: #383838;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.has-equal-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.terminal-output {
  overflow-y: hidden;
  overflow: auto;
}

.column-child {
  flex: 1;
}

.terminal-line {
  position: relative;
  font-family: "Anonymous Pro", monospace;
  font-size: 0.9rem;
  color: #b7c5d2;
}

.directory {
  color: #75e1e7;
  font-weight: 500;
}

.success {
  color: #8dd39e;
}

.code,
.error,
.fa-heart {
  color: #d7566a;
}

.fa-heart {
  padding-top: 0.5rem;
}

.dummy-keyboard {
  opacity: 0;
  filter: alpha(opacity=0);
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .resume {
    padding-bottom: 0.5rem;
  }
}